<% if @expense.errors.empty? %>
  // add the row to the table, show alert and hide modal
  $('#expense-modal').modal('hide');
  $('table tbody').append(' <%= j render "row", expense: @expense %>');
  $('.alert-success').html("Expense ha sido creado con éxito").show();
  $('.alert-success').append('<button id="" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>').show();
<% else %>
  // show first error
  alert('<%= @expense.errors.full_messages[0] %>');
<% end %>