$('table tbody tr#<%= @expense.id %>').remove();
$('.alert-success').html("Expense eliminado con éxito").show();
$('.alert-success').append('<button id="" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>').show();